.idea
.vscode

cypress.env.json

cypress/results/*
cypress/reports
cypress/reports/*
cypress/screenshots
cypress/screenshots/*
cypress/videos
cypress/videos/*
cypress/downloads
cypress/downloads/*

.bin
node_modules


